.modal-header {
    padding: 5px 10px;
    background-color: #333;
}

.modal-title {
    font-size: 18px;
    color: #fff;
}

.modal-footer {
    padding: 5px 10px;
}

.actionBtnContainer {
    display: flex;
    align-items: center;
}

.actionBtnContainer>Button {
    margin: 0 5px;
    border: 0;
    font-size: 14px;
}